// ===================== CHECKBOXES ==================== //
.check-box {
	width: 1px;
	height: 1px;
	overflow: hidden;
	position: absolute;
	clip: rect(0 0 0 0);
	padding-left: 20px;
}

.check-style {
	position: absolute;
	width: 1.6rem;
	height: 1.6rem;
}

.check-box:checked+.check-style:before {
	content: '';
	width: 0.8rem;
	height: 0.8rem;
	//background-color: $accent;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

// ===================== RADIO ===================== //
.radio-box {
	width: 1px;
	height: 1px;
	overflow: hidden;
	position: absolute;
	clip: rect(0 0 0 0);
}

.radio-style {
	position: absolute;
	width: 1.6rem;
	height: 1.6rem;
	border-radius: 50%;
	//border: 0.2rem solid ;
}

.radio-box:checked+.radio-style:before {
	content: '';
	width: 0.8rem;
	height: 0.8rem;
	border-radius: 50%;
	//background-color: $accent;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
