.partner-brands {
    grid-template-rows: 12rem 16rem 28rem;
    grid-template-areas:
        '. . . . . . . . transformica transformica transformica transformica salice salice salice salice stabilus stabilus stabilus stabilus rejs rejs rejs rejs'
        '. title title title title title title . transformica transformica transformica transformica salice salice salice salice stabilus stabilus stabilus stabilus rejs rejs rejs rejs'
        '. title title title title title title . confurn confurn confurn confurn ozmf ozmf ozmf ozmf btn btn btn btn btn btn btn btn';
    @media (max-width: 1366px) {
        grid-template-rows: 8.5rem 20rem - 8.5rem 20rem;
    }
    @media (max-width: 1024px) {
        grid-template-rows: 20rem 20rem 6.3rem;
        grid-template-areas:
            '. . title title title title title title title title title title transformica transformica transformica transformica transformica transformica salice salice salice salice salice salice'
            'rejs rejs rejs rejs rejs rejs stabilus stabilus stabilus stabilus stabilus stabilus confurn confurn confurn confurn confurn confurn ozmf ozmf ozmf ozmf ozmf ozmf'
            'btn btn btn btn btn btn btn btn btn btn btn btn btn btn btn btn btn btn btn btn btn btn btn btn';
    }
    @media (max-width: 767px) {
        grid-template-rows: 4rem max-content 4rem 16rem 16rem 16rem 6rem;
        grid-template-areas:
            '. . . . . . . . . . . . . . . . . . . . . . . .'
            '. . title title title title title title title title title title title title title title title title title title title title . .'
            '. . . . . . . . . . . . . . . . . . . . . . . .'
            'transformica transformica transformica transformica transformica transformica transformica transformica transformica transformica transformica transformica salice salice salice salice salice salice salice salice salice salice salice salice'
            'rejs rejs rejs rejs rejs rejs rejs rejs rejs rejs rejs rejs stabilus stabilus stabilus stabilus stabilus stabilus stabilus stabilus stabilus stabilus stabilus stabilus'
            'confurn confurn confurn confurn confurn confurn confurn confurn confurn confurn confurn confurn ozmf ozmf ozmf ozmf ozmf ozmf ozmf ozmf ozmf ozmf ozmf ozmf'
            'btn btn btn btn btn btn btn btn btn btn btn btn btn btn btn btn btn btn btn btn btn btn btn btn';
    }
    // .partner-brands__title

    &__title {
        grid-area: title;
        @media (min-width: 768px) and (max-width: 1024px) {
            display: grid;
            place-items: center;
        }
        @media (max-width: 767px) {
            font-size: 1.4rem;
            line-height: 1.8rem;
        }
    }

    // .partner-brands__brand

    &__brand {
        @extend %grid-center;
        border: 1px solid $light-gray;
        border-left: none;
        img {
            height: 100%;
            object-fit: contain;
            width: 24rem;
            @media (max-width: 1366px) {
                width: 17rem;
            }
            @media (max-width: 1024px) {
                width: 15rem;
            }
            @media (max-width: 767px) {
                width: 12rem;
            }
        }

        &--transformica {
            grid-area: transformica;
            @media (min-width: 768px) {
                border-left: 1px solid $light-gray;
            }
        }

        &--salice {
            grid-area: salice;
            @media (max-width: 767px) {
                border-right: none;
            }
        }

        &--stabilus {
            grid-area: stabilus;
            @media (max-width: 767px) {
                border-top: none;
                border-right: none;
            }
        }

        &--rejs {
            grid-area: rejs;
            @media (max-width: 767px) {
                border-top: none;
            }
        }

        &--confurn {
            grid-area: confurn;
            border-top: none;
            @media (min-width: 1025px) {
                border-left: 1px solid $light-gray;
            }
        }

        &--ozmf {
            grid-area: ozmf;
            border-top: none;
            @media (max-width: 767px) {
                border-right: none;
            }
        }
    }

    // .partner-brands__btn

    &__btn {
        grid-area: btn;
        justify-content: center;
        justify-items: center;
        border-top: none;
        @media (min-width: 1025px) {
            border-left: none;
        }
        @media (max-width: 1024px) {
            justify-content: flex-end;
            justify-items: end;
            display: grid;
            grid-template-columns: repeat(24, 1fr);
            .btn__inner {
                grid-column: 1 / 24;
            }
        }
    }
}
