.burger-menu {
    display: none;

    @media (max-width: 1024px) {
        display: block;
        position: fixed;
        top: 6.2rem;
        z-index: 101;
        width: 100vw;
        left: -100vw;
        z-index: 101;
        transition: 0.5s left;
        background-color: rgba(#000, 0.5);
        overflow: auto;
        height: calc(100vh - 6.2rem);
    }

    &--active {
        @media (max-width: 1024px) {
            left: 0;
        }
    }

    &__body {
        width: 35.4rem;
        display: grid;
        grid-template-columns: repeat(11, 1fr);
        align-content: start;
        background-color: #fff;
        min-height: calc(100vh - 6.2rem);
        > * {
            &:not(.burger-menu__divider) {
                grid-column: 2 / 11;
                @media (max-width: 767px) {
                    grid-column: 3 / 23;
                }
            }
        }
        @media (max-width: 767px) {
            width: 100%;
            grid-template-columns: repeat(24, 1fr);
        }
    }

    &__title {
        @extend %text-12;
        padding: 2rem 0;
    }

    &__divider {
        grid-column: span 11;
        height: 0.1rem;
        background-color: #c1c1c1;
        @media (max-width: 767px) {
            grid-column: span 24;
        }
    }

    &__links {
        padding: 2rem 0;
        &:not(:last-child) {
            border-bottom: 0.1rem solid #c1c1c1;
        }
    }

    &__links,
    &__list {
        display: grid;
        grid-auto-flow: row;
        grid-gap: 1rem;
    }

    &__link {
        @extend %text-12;
    }
}
