.burger-btn {
	display: none;

	@media (max-width: 1024px) {
		width: 3rem;
		height: 2.7rem;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		cursor: pointer;
	}

	&__item {
		display: block;
		width: 100%;
		height: 3px;
		background-color: #fff;
		transition: 0.5s all;
	}

	&--active {
		.burger-btn__item {
			&:nth-child(1) {
				transform: rotate(45deg);
				margin-top: 1.2rem;
			}

			&:nth-child(2) {
				display: none;
			}

			&:nth-child(3) {
				transform: rotate(-45deg);
				margin-bottom: 1.2rem;
			}
		}
	}
}

.burger-menu {
	display: none;

	@media (max-width: 1024px) {
		display: block;
		position: absolute;
		top: 0;
		left: -100%;
		z-index: 101;
		width: 50%;
		height: 100vh;
		//background-color: $accent;
		transition: 0.5s left;
		overflow: auto;
	}

	@media (max-width: 575px) {
		width: 100%;
	}

	&--active {
		@media (max-width: 1024px) {
			left: 0;
		}
	}
}
