$xs: 0;
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;

// colors
$accent: #333;

$container: 117rem;
$gap: 1.5rem;

// Typography
%text-12 {
	font-size: 1.2rem;
	line-height: 1.5rem;
}

%text-14 {
	font-size: 1.4rem;
	line-height: 1.7rem;
}

%text-16 {
	font-size: 1.6rem;
	line-height: 1.9rem;
}

%text-18 {
	font-size: 1.8rem;
	line-height: 2.1rem;
}

%text-20 {
	font-size: 2rem;
	line-height: 2.3rem;
}

%text-24 {
	font-size: 2.4rem;
	line-height: 2.9rem;
}

%text-30 {
	font-size: 3rem;
	line-height: 4rem;
}

%text-36 {
	font-size: 3.6rem;
	line-height: 4.4rem;
}

%text-48 {
	font-size: 4.8rem;
	line-height: 5.8rem;
}


// flex
%vertical-align {
	display: flex;
	align-items: center;
}

%flex-center {
	@extend %vertical-align;
	justify-content: center;
}

%flex-row {
	display: flex;
	justify-content: space-between;
}

%flex-row-center {
	@extend %flex-row;
	align-items: center;
}

%flex-row-end {
	@extend %flex-row;
	align-items: flex-end;
}

%flex-col {
	display: flex;
	flex-direction: column;
}

%flex-col-center {
	@extend %flex-col;
	align-items: center;
}

%flex-col-end {
	@extend %flex-col;
	align-items: flex-end;
}

// positioning
%pos-center-x {
	left: 50%;
	transform: translateX(-50%);
}

%pos-center-y {
	top: 50%;
	transform: translateY(-50%);
}

%pos-center-xy {
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

// background
%cover {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

%bg-cover {
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

%bg-contain {
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
}
