.reviews {
	background-image: url(../images/reviews-bg.jpg);
	@extend %bg-cover;
	border-top: 0.1rem solid $light-gray;
	grid-template-areas:
		'. product-review product-review product-review product-review product-review product-review product-review product-review product-review . form form form form form form form form form form form form form'
	;

	@media(max-width: 1024px) {
		grid-template-areas:
			'. . product-review product-review product-review product-review product-review product-review product-review product-review product-review product-review product-review product-review product-review product-review product-review product-review product-review product-review product-review product-review . .'
			'form form form form form form form form form form form form form form form form form form form form form form form form'
		;
	}

	&__left {
		grid-area: product-review;
	}

	&__form {
		grid-area: form;
		border-left: 0.1rem solid $light-gray;
		display: grid;
		grid-template-columns: repeat(13, 1fr);
		grid-template-rows: 10.5rem max-content 6rem 1fr;

		@media(max-width: 1366px) {
			grid-template-rows: 7.5rem max-content 4rem 1fr;
		}

		@media(max-width: 767px) {
			grid-template-rows: 4rem max-content 4rem 1fr;
		}

		@media(max-width: 1024px) {
			grid-template-columns: repeat(24, 1fr);
			border-top: 0.1rem solid $light-gray;
			border-left: none;
		}
	}
}

.leave-feedback {
	&__title {
		grid-column: 2 / 12;
		grid-row: 2 / 3;

		@media(max-width: 1024px) {
			grid-column: 3 / 23;
			font-size: 1.4rem;
			line-height: 1.8rem;
		}
	}

	&__form {
		grid-column: span 13;
		grid-row: 4 / 5;

		@media(max-width: 1024px) {
			grid-column: span 24;
		}
	}
}

.review-form {

	display: grid;
	grid-template-rows: max-content 8rem max-content minmax(19.5rem, 1fr) 8rem;
	grid-template-columns: repeat(13, 1fr);
	grid-template-areas:
		'. name name name name name name name . rating rating rating .'
		'. . . . . . . . . . . . .'
		'. text text text text text text text text text text text .'
		'. . . . . . . . . . . . .'
		'btn btn btn btn btn btn btn btn btn btn btn btn btn'
	;

	@media(max-width: 1366px) {
		grid-template-rows: max-content 5.5rem max-content minmax(14rem, 1fr) 5.7rem;
	}

	@media(max-width: 1024px) {
		grid-template-columns: repeat(24, 1fr);
		grid-template-rows: max-content 5.7rem max-content minmax(8.3rem, 1fr) 5.7rem;
		grid-template-areas:
			'. . name name name name name name name name name name name name name name . rating rating rating rating rating . .'
			'. . . . . . . . . . . . . . . . . . . . . . . .'
			'. . text text text text text text text text text text text text text text text text text text text text . .'
			'. . . . . . . . . . . . . . . . . . . . . . . .'
			'btn btn btn btn btn btn btn btn btn btn btn btn btn btn btn btn btn btn btn btn btn btn btn btn'
		;
	}

	@media(max-width: 767px) {
		grid-template-rows: max-content 3rem max-content 3rem max-content 4rem 6rem;
		grid-template-areas:
			'. . name name name name name name name name name name name name name name name name name name name name . .'
			'. . . . . . . . . . . . . . . . . . . . . . . .'
			'. . rating rating rating rating rating rating rating rating rating rating rating rating rating rating rating rating rating rating rating rating . .'
			'. . . . . . . . . . . . . . . . . . . . . . . .'
			'. . text text text text text text text text text text text text text text text text text text text text . .'
			'. . . . . . . . . . . . . . . . . . . . . . . .'
			'btn btn btn btn btn btn btn btn btn btn btn btn btn btn btn btn btn btn btn btn btn btn btn btn'
		;
	}

	// .review-form__item

	&__item {
		display: grid;
		grid-gap: 0.8rem;

		&--name {
			grid-area: name;
		}

		&--rating {
			grid-area: rating;
		}

		&--textarea {
			grid-area: text;
		}
	}

	// .review-form__textarea

	&__textarea {
		min-height: 4.4rem;

		@media(max-width: 1024px) {
			min-height: 3.5rem - 0.8rem * 2;
		}
	}

	// .review-form__btn

	&__btn {
		grid-area: btn;
		grid-template-columns: repeat(13, 1fr);
		border-left: none;

		@media(max-width: 1366px) {
			font-size: 1.6rem;
			line-height: 1.9rem;
		}

		.btn {
			&__inner {
				grid-column: 2 / 13;

				@media(max-width: 1366px) {
					grid-template-columns: max-content 1.5rem;
				}
			}

			&__arrow {
				@media(max-width: 1366px) {
					width: 1.5rem;
					height: 1.5rem;
				}
			}
		}
	}
}

.rating {

	display: flex;
	flex-direction: column;
	align-items: flex-start;

	&__title {
		flex-grow: 1;
	}

	&__items {
		width: 100%;
		display: flex;
		justify-content: space-between;
	}

	&__item {
		width: 2.4rem;
		height: 2.4rem;
		background-image: url(../images/icons/star.svg);
		@extend %bg-contain;

		@media(max-width: 1366px) {
			width: 1.5rem;
			height: 1.5rem;
		}

		&.filled {
			background-image: url(../images/icons/star-filled.svg);
		}
	}

	// .rating__stars

	&__stars {
		display: flex;
		flex-direction: row-reverse;
		overflow: hidden;
		gap: 1.6rem;
		height: 2.4rem;

		@media(max-width: 1366px) {
			height: 1.5rem;
			gap: 0.9rem;
		}
	}

	// .rating__input

	&__input {
		position: absolute;
		top: 0;
		left: 0;
		width: 0;
		height: 0;
		opacity: 0;
		visibility: hidden;
	}

	// .rating__label

	&__label {
		cursor: pointer;

		svg {
			width: 2.4rem;
			height: 2.4rem;

			@media(max-width: 1366px) {
				width: 1.5rem;
				height: 1.5rem;
			}

			path {
				transition: fill 0.3s ease;
			}
		}
	}
}

.rating__label:hover,
.rating__label:hover~.rating__label,
.rating__label:checked~.rating__label:hover {
	svg {
		fill: $accent;
	}
}

.rating__input:checked,
.rating__input:checked~.rating__label {
	svg {
		fill: $accent;
	}
}
