.furniture-handles {
    background-color: $accent;
    color: #fff;
    grid-template-rows: 11.5rem max-content 4rem 0.1rem 7.5rem 1fr 7.5rem minmax(62.6rem, max-content);
    grid-template-areas:
        'img img img img img img img img . . . . . . . . . . . . . . . .'
        'img img img img img img img img . title title title title title title title title title title title title title title .'
        'img img img img img img img img . . . . . . . . . . . . . . . .'
        'img img img img img img img img line line line line line line line line line line line line line line line line'
        'img img img img img img img img . . . . . . . . . . . . . . . .'
        'img img img img img img img img . . text text text text text text text text text text . . . .'
        'img img img img img img img img . . . . . . . . . . . . . . . .'
        'item1 item1 item1 item1 item1 item1 item1 item1 item2 item2 item2 item2 item2 item2 item2 item2 item3 item3 item3 item3 item3 item3 item3 item3';
    @media (max-width: 1366px) {
        grid-template-rows: 8rem max-content 3rem 0.1rem 5rem 1fr 5rem minmax(44.5rem, max-content);
    }
    @media (max-width: 1024px) {
        grid-template-rows: 9.5rem max-content 2.5rem 0.1rem 3.5rem minmax(34.5rem, max-content) 6rem repeat(
                3,
                max-content
            );
        grid-template-areas:
            'img img img img img img img img img img . . . . . . . . . . . . . .'
            'img img img img img img img img img img . title title title title title title title title . . . . .'
            'img img img img img img img img img img . . . . . . . . . . . . . .'
            'img img img img img img img img img img line line line line line line line line line line line line line line'
            'img img img img img img img img img img . . . . . . . . . . . . . .'
            'img img img img img img img img img img . . text text text text text text text text text text . .'
            'img img img img img img img img img img . . . . . . . . . . . . . .'
            'item1 item1 item1 item1 item1 item1 item1 item1 item1 item1 item1 item1 item1 item1 item1 item1 item1 item1 item1 item1 item1 item1 item1 item1'
            'item2 item2 item2 item2 item2 item2 item2 item2 item2 item2 item2 item2 item2 item2 item2 item2 item2 item2 item2 item2 item2 item2 item2 item2'
            'item3 item3 item3 item3 item3 item3 item3 item3 item3 item3 item3 item3 item3 item3 item3 item3 item3 item3 item3 item3 item3 item3 item3 item3';
    }
    @media (max-width: 767px) {
        grid-template-rows: 8.5rem max-content 4rem 0.1rem 4rem max-content 4rem repeat(3, max-content);
        grid-template-areas:
            'img img img img img img img img img . . . . . . . . . . . . . . .'
            'img img img img img img img img img . . title title title title title title title title title . . . .'
            'img img img img img img img img img . . . . . . . . . . . . . . .'
            'line line line line line line line line line line line line line line line line line line line line line line line line'
            '. . . . . . . . . . . . . . . . . . . . . . . .'
            '. . text text text text text text text text text text text text text text text text text text text . . .'
            '. . . . . . . . . . . . . . . . . . . . . . . .'
            'item1 item1 item1 item1 item1 item1 item1 item1 item1 item1 item1 item1 item1 item1 item1 item1 item1 item1 item1 item1 item1 item1 item1 item1'
            'item2 item2 item2 item2 item2 item2 item2 item2 item2 item2 item2 item2 item2 item2 item2 item2 item2 item2 item2 item2 item2 item2 item2 item2'
            'item3 item3 item3 item3 item3 item3 item3 item3 item3 item3 item3 item3 item3 item3 item3 item3 item3 item3 item3 item3 item3 item3 item3 item3';
    }
    // .furniture-handles__img

    &__img {
        grid-area: img;
        img {
            @extend %cover;
        }
    }

    // .furniture-handles__title

    &__title {
        grid-area: title;
        @media (max-width: 767px) {
            font-size: 1.4rem;
            line-height: 1.8rem;
        }
    }

    &__line {
        grid-area: line;
        background-color: $gray;
    }

    // .furniture-handles__text

    &__text {
        grid-area: text;
        color: $light-gray;
        display: grid;
        grid-gap: 3.5rem;
        align-content: flex-start;
        @media (max-width: 1366px) {
            grid-gap: 2.5rem;
        }
    }

    // .furniture-handles__item

    &__item {
        display: grid;
        grid-template-columns: repeat(8, 1fr);
        grid-template-rows: 10rem max-content 6rem 1fr 10rem;
        grid-template-areas:
            '. . . . . . . .'
            '. title title title title title title .'
            '. . . . . . . .'
            '. text text text text text text .'
            '. . . . . . . .';
        border: 0.1rem solid $gray;
        border-left: none;
        @media (max-width: 1366px) {
            grid-template-rows: 7.5rem max-content 2.5rem 1fr 7.5rem;
        }
        @media (max-width: 1024px) {
            grid-template-rows: 7.5rem max-content 3.5rem max-content 10.5rem;
            grid-template-columns: repeat(24, 1fr);
            grid-template-areas:
                '. . . . . . . . . . . . . . . . . . . . . . . .'
                '. . . title title title title title title title title title title title title title title title title . . . . .'
                '. . . . . . . . . . . . . . . . . . . . . . . .'
                '. . . text text text text text text text text text text text text text text text text . . . . .'
                '. . . . . . . . . . . . . . . . . . . . . . . .';
        }
        @media (max-width: 767px) {
            grid-template-rows: 4rem max-content 2.5rem max-content 4rem;
            grid-template-areas:
                '. . . . . . . . . . . . . . . . . . . . . . . .'
                '. . title title title title title title title title title title title title title title title title title title title title . .'
                '. . . . . . . . . . . . . . . . . . . . . . . .'
                '. . text text text text text text text text text text text text text text text text text text text text . .'
                '. . . . . . . . . . . . . . . . . . . . . . . .';
        }
        &--1 {
            grid-area: item1;
            border-left: 0.1rem solid $gray;
        }
        &--2 {
            grid-area: item2;
        }
        &--3 {
            grid-area: item3;
            @media (max-width: 1024px) {
                border-top: none;
            }
        }
    }

    // .furniture-handles__item-title

    &__item-title {
        grid-area: title;
        @media (max-width: 767px) {
            font-size: 1.4rem;
            line-height: 1.8rem;
        }
    }

    // .furniture-handles__item-text

    &__item-text {
        grid-area: text;
        color: $light-gray;
    }
}
