.breadcrumbs {
	padding-bottom: 2rem;

	&__item {
		position: relative;
		display: inline-block;
		@extend %text-12;
		color: #828282;
		padding-right: 1.6rem;
		margin-right: 1rem;
		transition: .3s color;

		@media (any-hover: hover) {
			&:hover {
				color: $accent;
			}
		}

		&:after {
			content: '/';
			position: absolute;
			@extend %pos-center-y;
			right: 0;
		}

		&:last-child {
			color: $accent;

			&:after {
				content: '';
			}
		}
	}
}
