.popular-categories {
    grid-template-rows: 14.5rem 64rem - 14.5rem 26rem 10rem;
    grid-template-areas:
        '. . . . . . . . item-1 item-1 item-1 item-1 item-1 item-1 item-1 item-1 item-2 item-2 item-2 item-2 item-2 item-2 item-2 item-2'
        '. title title title title title title . item-1 item-1 item-1 item-1 item-1 item-1 item-1 item-1 item-2 item-2 item-2 item-2 item-2 item-2 item-2 item-2'
        'item-3 item-3 item-3 item-3 item-3 item-3 item-3 item-3 item-4 item-4 item-4 item-4 item-4 item-4 item-4 item-4 . . . . . . . .'
        'item-3 item-3 item-3 item-3 item-3 item-3 item-3 item-3 item-4 item-4 item-4 item-4 item-4 item-4 item-4 item-4 link link link link link link link link';
    @media (max-width: 1366px) {
        grid-template-rows: 10.5rem 45.5rem - 10.5rem 25.6rem - 7.1rem 7.1rem;
    }
    @media (max-width: 1024px) {
        grid-template-rows: 8.5rem max-content 5rem 21rem 21rem 14rem 14rem 7rem;
        grid-template-areas:
            '. . . . . . . . . . . . . . . . . . . . . . . .'
            '. . title title title title title title title title title title . . . . . . . . . . . .'
            '. . . . . . . . . . . . . . . . . . . . . . . .'
            'item-1 item-1 item-1 item-1 item-1 item-1 item-1 item-1 item-1 item-1 item-1 item-1 item-1 item-1 item-1 item-1 item-1 item-1 item-1 item-1 item-1 item-1 item-1 item-1'
            'item-2 item-2 item-2 item-2 item-2 item-2 item-2 item-2 item-2 item-2 item-2 item-2 item-2 item-2 item-2 item-2 item-2 item-2 item-2 item-2 item-2 item-2 item-2 item-2'
            'item-3 item-3 item-3 item-3 item-3 item-3 item-3 item-3 item-3 item-3 item-3 item-3 item-3 item-3 item-3 item-3 item-3 item-3 item-3 item-3 item-3 item-3 item-3 item-3'
            'item-4 item-4 item-4 item-4 item-4 item-4 item-4 item-4 item-4 item-4 item-4 item-4 item-4 item-4 item-4 item-4 item-4 item-4 item-4 item-4 item-4 item-4 item-4 item-4'
            'link link link link link link link link link link link link link link link link link link link link link link link link';
    }
    @media (max-width: 767px) {
        grid-template-rows: 2.8rem max-content 2.8rem 10rem 10rem 10rem 10rem 6rem;
    }
    // .popular-categories__title

    &__title {
        grid-area: title;
        @media (min-width: 768px) and (max-width: 1024px) {
            font-size: 2.4rem;
            line-height: 2.9rem;
        }
    }

    // .popular-categories__item

    &__item {
        padding: 3.5rem 5rem;
        border-right: 0.1rem solid $light-gray;
        @media (max-width: 1366px) {
            padding: 3.5rem 2.5rem;
        }
        @media (max-width: 1024px) {
            padding: 2rem 0;
        }
        @media (max-width: 767px) {
            padding: 1rem 0;
        }
        &:nth-of-type(odd) {
            @media (min-width: 1025px) {
                border-left: 0.1rem solid $light-gray;
            }
        }
        &--1 {
            grid-area: item-1;
            border-bottom: 0.1rem solid $light-gray;
            @media (max-width: 1024px) {
                border-top: 0.1rem solid $light-gray;
            }
        }
        &--2 {
            grid-area: item-2;
            border-bottom: 0.1rem solid $light-gray;
        }
        &--3 {
            grid-area: item-3;
            @media (min-width: 1025px) {
                border-top: 0.1rem solid $light-gray;
            }
            @media (max-width: 1024px) {
                border-bottom: 0.1rem solid $light-gray;
            }
        }
        &--4 {
            grid-area: item-4;
        }
        &--big {
            .popular-category {
                &__img img {
                    width: 32rem;
                    @media (max-width: 1366px) {
                        width: 22.75rem;
                    }
                    @media (max-width: 1024px) {
                        width: 14.8rem;
                        height: 14.8rem;
                    }
                    @media (max-width: 767px) {
                        width: 7rem;
                        height: 7rem;
                    }
                }
            }
            .popular-category__inner {
                @media (min-width: 1025px) {
                    grid-template-rows: 1fr 32rem 1fr max-content;
                }
                @media (min-width: 1367px) {
                    grid-template-rows: 1fr 22.75rem 1fr max-content;
                }
            }
        }
        &--small {
            .popular-category__inner {
                @media (min-width: 1025px) {
                    grid-template-rows: 1fr 13.2rem 1fr max-content;
                }
                @media (min-width: 1367px) {
                    grid-template-rows: 1fr 9.3rem 1fr max-content;
                }
            }
            .popular-category {
                &__img img {
                    @media (max-width: 1024px) {
                        height: 9.3rem;
                    }
                    @media (max-width: 767px) {
                        width: 8.8rem;
                        height: 6rem;
                    }
                }
            }
        }
    }

    // .popular-categories__link

    &__link {
        grid-area: link;
        border-left: none;
        display: grid;
        grid-template-columns: 5rem max-content;
        .btn__inner {
            grid-column: 2 / 3;
            @media (max-width: 1024px) {
                grid-column: 3 / 25;
            }
        }
        @media (max-width: 1366px) {
            grid-template-columns: 3.5rem max-content;
        }
        @media (max-width: 1024px) {
            grid-template-columns: repeat(24, 1fr);
        }
    }
}

.popular-category {
    display: grid;
    &__inner {
        display: grid;
        grid-template-areas:
            '.'
            'img'
            '.'
            'title';
        align-items: center;
        @media (max-width: 1024px) {
            grid-template-columns: repeat(24, 1fr);
            grid-template-areas: '. . title title title title title title title title . . . . . . img img img img img img . .';
            align-content: center;
        }
    }
    // .popular-category__img

    &__img {
        display: block;
        //height: 100%;
        justify-self: center;
        align-self: center;
        grid-area: img;
        @extend %grid-center;
        transition: 0.5s transform;
        @media (max-width: 767px) {
            width: 100%;
            display: grid;
            justify-items: center;
        }
        @media (any-hover: hover) {
            &:hover {
                transform: scale(1.05);
            }
        }
        img {
            @extend %cover;
        }
    }

    // .popular-category__title

    &__title {
        @extend %text-24;
        grid-area: title;
    }
}
