.product-description {
    grid-area: info;
    // .product-description__item

    &__item {
        padding: 2rem 0;

        @media (max-width: 1366px) {
            padding: 1.4rem 0;
        }

        &:not(:last-child) {
            border-bottom: 0.1rem solid $light-gray;
        }

        &:first-child {
            border-top: 0.1rem solid $light-gray;
        }

        &:first-child {
            .product-description__item-content {
                display: block;
            }
        }
    }

    // .product-description__item-title

    &__item-title {
        position: relative;
        font-weight: 600;
        @extend %text-18;
        line-height: 2.5rem;
        cursor: pointer;

        @media (max-width: 1366px) {
            line-height: 2rem;
        }

        &::after {
            content: '';
            position: absolute;
            top: 0;
            right: 0;
            width: 2.4rem;
            height: 2.4rem;
            background-image: url(../images/icons/drop.svg);
            @extend %bg-contain;
            transition: 0.3s transform;

            @media (max-width: 1366px) {
                width: 1.5rem;
                height: 1.5rem;
            }
        }

        &.active {
            &:after {
                transform: rotate(180deg);
            }
        }
    }

    // .product-description__item-content

    &__item-content {
        display: none;
        padding-top: 2.3rem;

        @media (max-width: 1366px) {
            padding-top: 1.6rem;
        }

        p {
            @extend %text-16;

            @media (max-width: 1366px) {
                font-size: 1.2rem;
                line-height: 1.8rem;
            }

            &:not(:last-child) {
                margin-bottom: 1.5rem;
            }
        }
    }

    // .product-description__list

    &__list {
    }
}
